@import 'variables';

.block-container {
  padding-top: 0 !important;
}

.home-block {
  background: url('../images/HomePage.jpg') no-repeat 100%;
  background-size: 100% 100%;
  color: $white-text;
  text-align: center;
  padding-top: 0;

  h1 {
    color: $white-text;
    font-weight: 600;
  }

  .block-text {
    position: relative;
    left: 50%;
    vertical-align: top;
  }

  .type-large {
    font-size: 1rem !important;
  }

  a {
    color: $white-text;
  }

  a:hover, a:focus {
    color: $white-text;
  }
}

.home-block-bottom {
  background: url('../images/HomePageBottom.jpg') no-repeat 100%;
  background-size: 100% 100%;
  color: $white-text;
  text-align: center;
  padding-top: 0;

  h1 {
    color: $white-text;
    font-weight: 600;
  }

  .block-text {
    position: relative;
    left: 40%;
    vertical-align: top;

    h2 {
      color: $white-text;
      font-weight: 600;
      letter-spacing: 3px;
      text-transform: uppercase;
    }
  }

  .type-large {
    font-size: 1rem !important;
  }

  a {
    color: $white-text;
  }

  .button {
    background-color: $bc-blue;
    border-color: $white-text;
  }
}

.blocks-home {
  position: relative;
  left: 15%;
  width: 70%;
  text-align: center;

  h2 {
    color: $bc-blue;
    font-weight: 600;
    letter-spacing: 3px;
    text-transform: uppercase;
  }

  a {
    font-size: 0.9rem !important;
    text-transform: uppercase;
  }

  img {
    width: 100%;
  }
}

@media (min-width: 769px) {
  .blocks-home {
    h2 {
      font-size: 2.2rem !important;
    }
  }
}

@media (max-width: 1023px) {
.hideOnTablet {
    display: none;
  }
}

#tocify-header0 > li {
  display: none;
}

.changelog {
  #january, #february, #march, #april, #may, #june, #july, #august, #september, #october, #november, #december {
    font-size: 0;
    margin-bottom: 0;
  }

  h1 {
    color: white !important;
    font-size: 0 !important;
    margin-bottom: 0 !important;
  }

  h2 {
    margin-top: 28px !important;
    margin-bottom: 22px !important;
  }

  h3, h4, h5, h6 {
    margin-top: 0;
    margin-bottom: 11px;
  }

}

#changelog, #api-documentation, #understanding-themes, #api-v2-documentation, #api-v3-documentation, #blueprint-themes, #blueprint-theme-snippets, #blueprint-theme-layouts, #blueprint-theme-panels, #quickstart-guides-for-developing-on-bigcommerce {
  @extend %header-font;
  color: $bc-blue !important;
  font-size: 1.55556rem !important;
  text-transform: uppercase;
  padding-top: 3%;
  padding-bottom: 3%;
  padding-bottom: 1.5%;
  letter-spacing: 1.8px;  
}

table td:nth-child(3) {
  word-break: break-word;
}

.vtwo-links {
  padding: 0 15px 0 15px;

  #vtwo-link1, #vtwo-link2, #vtwo-link3 {
    font-size: 14px;
    color: $bc-light-grey;
  }
}

.themes .content {
    width: 80%;
    min-width: 850px;
}

/* Should be removed when switching back to 3 column API layout */
.api .content .block-container {
  width: 80%;
  min-width: 850px;
  float: left;
  padding-left: 1%;
}

.jumptarget::before {
  content: "";
  display: block;
  height: 85px;
  margin: -85px 0 0;
}

#support-h1 {
  font-size: 1.55556rem !important;
  @extend %header-font;
  color: $bc-blue;
  position: relative;
  left: 11%;
  text-transform: uppercase;
  letter-spacing: 1.8px;
}

.api-nav {
  margin-bottom: 36px;
}

.separator-top {
    margin-top: 10px;
}

.separator {
  border-top: 1px solid $bc-light-grey;
}

.nav-label {
  margin-left: 12px;
  margin-bottom: 12px;
  font-size: 15px !important;
  font-weight: normal;
  margin-top: 32px;
}

.clear {
  clear: both;
}

.btn:focus {
  outline: 0;
}

/* Custom styles for the top navigation when the menu is expanded by default */

@media only screen and (min-width: 931px) {
    .top-bar {
        margin: 0;
        max-width: none;
        padding: 0;
    }

    .top-bar .title-area {
      // Adjust next rule to fit extra top-nav links:
      min-width: 285px;
      padding-left: 25px;
      padding-top: 0;
      vertical-align: middle;
      width: 10%;
    }

    .top-bar-section,
    [top-bar-section] {
      width: 48%;
    }

    .top-bar-section ul,
    [top-bar-section] ul {
      background: none;
    }

    .top-bar-section ul li,
    [top-bar-section] ul li {
      display: inline-block;
      float: none;
    }

    .top-bar-actions {
      padding-right: 25px;
      width: 30%;
    }

    .top-bar .optional,
    [top-bar] .optional {
      display: inline-block;
    }
}

/* Styles for mobile home page */
@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
  .home-block, .home-block-bottom {
    .block-text {
      left: 0;
    }
  }
  
  .home-block {
    .home-separator {
      visibility: hidden;
      display: block;
    }
  }
}

/* Override to force table column width */
.content table td:first-child, .content table td:nth-child(4) {
  width: 21%;
}


li > .dropbtn {
    @extend %default-font;
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 10px;
    text-decoration: none;
}

li.dropdown {
    display: inline-block;
}

.dropdown-content {
    @extend %default-font;
    display: none;
    position: absolute;
    background-color: $code-bg;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.dropdown-content a {
    color: black;
    padding: 12px 10px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {
  background-color: $bc-light-grey;
}

.dropdown:hover .dropdown-content {
    display: block;
}

li a, .tocify-wrapper {
  text-align: left;
}

.api_v3 {
  pre {
    width:40%;
  }

  .content table {
    width: 55% !important;
  }
}

#mc-embedded-subscribe:hover {
  background-color: $bc-blue;
  color: white;
  border-color: #3a426e;
}

#mc-embedded-subscribe {
  background-color: $bc-blue;
  color: white;
  padding: 0rem 0.25rem;
  font-size: 0.8rem;
  width: 35%;
  position: relative;
  top: -1.5px;
}

@media (max-width: 768px) {
  #mc-embedded-subscribe {
    border-width: 0.5px;
    border-style: outset;
    border-color: $bc-light-grey
  }
}

#mce-EMAIL {
  width: 63%;
  margin-right: 2%;
  height: 23px;
  font-size: 0.8rem;
}

.mc-header {
  color: $bc-blue;
  font-size: 0.9rem;
}

.anchor-text {
  display: none;
}
