<script>

    var custom_wufoo_html = '<iframe height="450" allowTransparency="true" frameborder="0" scrolling="no" style="width:100%;border:none"  src="https://bigcommercedevelopers.wufoo.com/embed/z2p1a040b1ing3/"><a href="https://bigcommercedevelopers.wufoo.com/forms/z2p1a040b1ing3/">Fill out my Wufoo form!</a></iframe>';

    //set up some basic options for the feedback_me plugin
    fm_options = {
        position: "right-top",
        title_label : "",
        show_form: false,
        show_asterisk_for_required: true,
        custom_html: custom_wufoo_html
    };
    //init feedback_me plugin
    fm.init(fm_options);

</script>