<div class="topBar-container topBar-container--fixed">
  <nav class="top-bar ng-isolate-scope" ng-transclude="" top-bar="" style="height: 81px;">
    <ul class="title-area ng-scope">
      <li class="name"><%= link_to image_tag("developer.png"), "/" %></li>
    </ul>
    <section class="top-bar-section ng-scope">
      <ul class="menuItems">
        <li class="dropdown">
          <div class="dropbtn" title="API">API</div>
          <div class="dropdown-content">
            <a href="/api">Basics</a>
            <a href="/api/guides">Guides</a>
            <a href="/api/v2">API V2</a>
            <a href="https://github.com/bigcommerce/api/blob/master/docs/v3-catalog.md">API V3</a>
          </div>
        </li>
        <li>
          <li class="dropdown">
          <div class="dropbtn" title="Themes">THEMES</div>
          <div class="dropdown-content">
            <a href="/themes">Basics</a>
            <a href="http://stencil.bigcommerce.com/docs">Stencil</a>
            <a href="/themes/blueprint">Blueprint</a>
          </div>
        </li>
        </li>
        <li><a href="/changelog/" title="Changelog">Changelog</a></li>
        <li><a href="/support/" title="Help and Support">Support</a></li>
      </ul>
    </section>
    <div class="top-bar-actions ng-scope">
      <div class="optional"><a href="https://devtools.bigcommerce.com/">My Apps</a></div>
      <div class="optional">
    <a href="https://login.bigcommerce.com/signup"><button class="button button--action button--small">Create Account</button></a>
  </div>
    </div>
  </nav>
</div>
